.app-container {
  height: 100vh;
  width: 100vw;
  padding: 10vh 10vw;
  --wails-draggable:drag;
}

.app {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .4);
  backdrop-filter: blur(25px);
  background-image: linear-gradient(-50deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .3) 80%);
  box-shadow: inset 0 0 0 2px #ffffff26;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em;
  --wails-draggable:no-drag;
}

.plus {
  font-size: 3em;
}

.logo-container {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.logo {
  max-height: 200px;
  transition: max-height .2s ease;
}

.result {
  font-size: 1rem;
  height: 20px;
  line-height: 20px;
}

.input-box-container {
  display: flex;
  gap: 1em;
}

.input-box-btn {
  border-radius: 3px;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  background: #0070f3;
  color: #fff;
  transition: background .2s ease;
}

.input-box-btn:hover {
  background: rgba(0, 118, 255, .9);
}

.input-box-input {
  border: 0;
  border-radius: 3px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: transparent;
  padding: 10px 15px;
  background: rgba(255, 255, 255, .8);
  transition: background .2s ease, outline-color .2s ease;
}

.input-box-input:hover {
  border: 0;
  background: rgba(255, 255, 255, .9);
}

.input-box-input:focus {
  border: 0;
  background: rgba(255, 255, 255, 1);
  outline-color: rgba(0, 118, 255, .9);
}

@media (max-width: 768px) {
  .logo {
    max-height: 120px;
  }
}

@media (max-width: 640px) {
  .logo {
    max-height: 80px;
  }
}
